{% extends 'base_admin_page.html' %}
{% block content %}
<script>
    function validateForm() {
        var fname = document.getElementById("fname").value;
        var lname = document.getElementById("lname").value;
        var login = document.getElementById("login").value;
        var role = document.getElementById("role").value;

        if (fname === "" || lname === "" || login === "" || role === "") {
            var errorMessage = document.getElementById("error_message");
            errorMessage.innerHTML = "Doplnte vsechny udaje o uzivatelovi!";
            errorMessage.style.color = "red";
            return false;
        }

        return true;
    }
</script>

<h3 class="centered">Pridat uzivatele</h3>
<p class = centered>id="error"</p>
<div class="center_all_div">
    <form class="order" action="/admin/user_add" method="post" onsubmit = "return validateForm">
        <div class="form_group">
            <label for="fname">Jmeno:</label>
            <input type="text" name="fname" id="fname">
        </div>
        <div class="form_group">
            <label for="lname">Primeni:</label>
            <input type="text" name="lname" id="lname">
        </div>
        <div class="form_group">
            <label for="fname">Login:</label>
            <input type="text" name="login" id="login">
        </div>
        <div class="form_group">
            <label for="role">Role:</label>
            <select name="role" id="role">
                {% for r in roles%}
                <option value="{{ r[0] }}">{{ r[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form_group">
            <input type="submit" value="Pridat">
        </div>
    </form>
</div>
{% endblock %}