{% extends 'base_admin_page.html'%}
{% block content %}
<script>
    function validateForm() {
        var model = document.getElementById("model").value;
        var license = document.getElementById("license").value;
        var year = document.getElementById("year").value;

        if (model === "" || license === "" || year === "") {
            var errorMessage = document.getElementById("error_message");
            errorMessage.innerHTML = "Doplnte vsechny udaje o aute!";
            errorMessage.style.color = "red";
            return false;
        }

        return true;
    }
</script>
<p class="centered" id="error"></p>
<h3 class="centered">Pridani auta</h3>
    {% if error %}
    <div style="text-align: center;">
        <strong style="color: red;">{{ error }}</strong>
    </div>
    {% endif %}
<div class="center_all_div">
    <form class="order" action="/admin/add_car" method="post" onsubmit = "return validateForm()">
        <div class="form_group">
            <label for="owner">Majitel: </label>
            <input type="text" id="owner" name="owner">
        </div>
        <div class="form_group">
            <label for="car_model">Model: </label>
            <input type="text" id="car_model" name="car_model">
        </div>
        <div class="form_group">
            <label for="spz">SPZ: </label>
            <input type="text" id="spz" name="spz">
        </div>
        <div class="form_group">
            <label for="year">Rok: </label>
            <input type="text" id="year" name="year">
        </div>
        <div class="form_group">
            <input type="submit" value="Pridat">
        </div>
    </form>
</div>
{% endblock %}