{% extends 'base_admin_page.html' %}
{% block content %}
<script>
    function validateForm() {
        var model = document.getElementById("model").value;
        var license = document.getElementById("license").value;
        var year = document.getElementById("year").value;

        if (model === "" || license === "" || year === "") {
            var errorMessage = document.getElementById("error_message");
            errorMessage.innerHTML = "Doplnte vsechny udaje o aute!";
            errorMessage.style.color = "red";
            return false;
        }

        return true;
    }
</script>

<h3 class="centered">Uprava vozidla</h3>
<p class = centered>id="error"</p>
<div class="center_all_div">
    <form class="order" action="/admin/car_edit" method="post" onsubmit="return validateForm">
        <input type="hidden" name="id" id="id" value="{{ data[0] }}">
        <div class="form_group">
            <label for="model">Model: </label>
            <input type="text" name="model" id="model" value="{{ data[1] }}">
        </div>
        <div class="form_group">
            <label for="license">SPZ: </label>
            <input type="text" name="license" id="license" value="{{ data[2] }}">
        </div>
        <div class="form_group">
            <label for="year">Rok: </label>
            <input type="text" name="year" id="year" value="{{ data[3] }}">
        </div>

        <input type="submit" value="Upravit vozidlo">

    </form>
</div>
{% endblock %}