{% extends 'base_admin_page.html'%}
{% block content %}
<div>
    <form style="direction: rtl;" action="/admin/add_car">
        <input id="add_car" type="submit" value="Pridat auto">
    </form>
    <table class="tb_center th_border tb_color_even_tr">
        <tr>
            <th>Model</th>
            <th>SPZ</th>
            <th>Rok</th>
            <th>Majitel</th>
            <th></th>
            <th></th>

            {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td> <!--Model-->
                    <td>{{ row[2] }}</td> <!--SPZ-->
                    <td>{{ row[3] }}</td> <!--Rok-->
                    <td>{{ row[4] ~ ' ' ~ row[5]}}</td> <!--Jmeno-->
                    <td class="td_submit"><form action=""><input type="submit" value="Upravit"></form></td>
                    <td class="td_submit">
                        <form action="/admin/delete_car" method="post">
                            <input type="hidden" name="vehicle_id" id="vehicle_id" value="{{ row[0] }}">
                            <input style="background-color: red;" type="submit" value="Smazat">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}