{%extends 'base.html'%}
{%block title%}Registrace{%endblock%}
{% block content %}

<div class="registration">
    <h4>Priglaseni</h4>
    <hr><br>
    {% if error %}
        <p class="error">{{error}}</p>
    {% endif %}
    <form action="/login" method="post">
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="password">Heslo:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Prihlasitse se"><br>
    </form>
    <a href="">Zapomneli jste sve udaje?</a>
    <hr>
    <form action="/reg">
        <label for="">Novy uzivatel</label><br>
        <input type="submit" value="Zaregistrovat se">
    </form>

</div>

{% endblock %}