<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autoservis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="topnav">
        <a href="/"><img src="{{url_for('static', filename='logo.jpg')}}" alt=""></a>
        <div class="right">
            <form action="/logout">
                <input type="submit" value="Odhlasit se">
            </form>
        </div>
    </div>
    <div class="container">
        <div class="panel">
            <form action="">
                <input type="submit" value="Seznam vozidel" formaction="/admin_car_list"><br>
                <input type="submit" value="Aktualni opravy" formaction="/service_list"><br>
                <input type="submit" value="Objednavky" formaction="/orders"><br>
                <input type="submit" value="Uzivatele" formaction="/user_list"><br>
                <input type="submit" value="Statistiky" formaction="/statistics"><br>
            </form>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>