<!DOCTYPE html>
<html>
    <head>
        <title>Autoservis {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="topnav">
            <a href="/"><img src="{{url_for('static', filename='logo.jpg')}}" alt=""></a>
            <div class="right">
                <form action="/login">
                    <input type="submit" value="Prihlasit se">
                </form>
            </div>
        </div>
        <div class="base_content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>