{% extends 'base_manager_page.html' %}
{% block content %}
<div>
    <table class="tb_center th_border tb_color_even_tr">
        <tr>
            <th>Model</th>
            <th>SPZ</th>
            <th>Rok</th>
            <th>Majitel</th>
            <th>Popis</th>
            <th></th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td class="td_description">{{ row[5] }}</td>
                <td class="td_submit">
                    <form action="/admin/order_confirmation" method="get">
                        <input type="hidden" name="id" id="id" value="{{ row[0] }}">
                        <input type="submit" value="Pridat termin">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}