{% extends 'base_manager_page.html' %}
{% block content %}
<div>
    <table class="tb_center th_border tb_color_even_tr"">
        <tr>
            <th>Model</th>
            <th>SPZ</th>
            <th>Rok</th>
            <th>Technik</th>
            <th>Zpravy</th>
            <th>Stav</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] ~ ' ' ~ row[5] }}</td>
                <td>
                    <form action="/manager/notification" method="post">
                        <input type="hidden" name="stav_id" id="stav_id" value="{{ row[0] }}">
                        <input type="image" width="30px" src="{{url_for('static', filename='info.png')}}" alt="submit">
                    </form>
                </td>
                <td>{{ row[6] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}