{% extends 'base.html' %}
{% block title %}Uvodni stranka{% endblock %}
{% block content %}
    <div class="center_all_div">
        <img src="{{url_for('static', filename='autoservice.jpg')}}" alt="Autoservice Image">
        <p>Vítejte na naší webové stránce, kde se o Váš automobil postaráme s péčí a odborností! Jsme autoservis v srdci Brna, 
            a naše vášeň pro auta se odráží v každém provedeném servisu. S dlouholetou zkušeností a moderním přístupem k opravám 
            a údržbě vozidel vám garantujeme kvalitní služby, které překračují běžné standardy.

            Náš tým zkušených odborníků se stará o širokou škálu automobilů, od běžných osobních vozidel po nákladní a dodávková auta. 
            Bez ohledu na značku či model vašeho vozidla se postaráme o každý detail, abychom vám zajistili bezpečnou a spolehlivou jízdu.
            
            Naše filozofie spočívá v poskytování prvotřídního servisu s důrazem na transparentnost, spolehlivost a rychlost. 
            S námi můžete mít jistotu, že vaše vozidlo je ve správných rukou. Prohlédněte si naši širokou nabídku služeb a kontaktujte nás s důvěrou. 
            Vaše spokojenost je pro nás prioritou číslo jedna. Děkujeme, že jste zavítali na naši stránku, a těšíme se na spolupráci s vámi!
        </p>
    </div>
{% endblock %}
