{%extends 'base.html'%}
{%block title%}Registrace{%endblock%}
{% block content %}

<div class="registration">
    <h4>Registrace uctu</h4>
    <hr><br>
    <form action="/reg" method="post">
        <label for="fname">Jmeno:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Primeni:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="password">Heslo:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password_repeat">Opakujte heslo:</label><br>
        <input type="password" id="password_repeat" name="password_repeat"><br><br>
        <input type="submit" value="Zaregistrovat se">
    </form>

</div>

{% endblock %}